<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="localDB" connectionString="Server=tcp:mysqlserver4536.database.windows.net,1433;Initial Catalog=productdb;Persist Security Info=False;User ID='AzureUser';Password='yso3_7yate';MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  
  
  
  
</connectionStrings>
